<p id="notice"><%= notice %></p>

<p>
  <strong>Student Name:</strong>
  <%= @student.name %>
</p>

<p>
  <strong>Student Age:</strong>
  <%= @student.age %>
</p>

<p>
  <strong>Subjects</strong>
  <% @student.subjects.each do |subject| %>
  <table>
    <tr>
      <th>Subject</th>
    </tr>
    <tr>
      <td><%= link_to subject.name,"/subjects/#{subject.id}/", target: '_blank'%></td>
    </tr>
  </table>
<% end %>
</p>

<p>
  <strong>Student Age:</strong>
  <%= @student.age %>
</p>


<%= link_to 'Edit', edit_student_path(@student) %> |
<%= link_to 'Back', students_path %>
